#summary {
    text-align: center;
  outline: 8px solid #555;
  width: 100%;
  height: 450px;
  border-radius: 20%;
  }
.desc {
    visibility: visible;
    z-index:2;
    text-align: center;
      background: rgb(0, 0, 0); /* Fallback color */
      background: rgba(0, 0, 0, 0.75); /* Black background with 0.5 opacity */
      color: #f1f1f1; /* Grey text */
      width: 100%; /* Full width */
      height: 15%;
      padding: 10px; /* Some padding */
}
.container-fluid{
  background-color: #e8eefa;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
#reality{
  background: url("../images/idealization/idealization01.png") no-repeat;
  top: 20%;
  left: 34%;
  z-index: 1;
  opacity: 100%;
  outline: 8px solid #555;
  width: 32%;
  height: 65%;
  border-radius: 20%;
}

#burner{
  background: url("../images/idealization/fireImage.gif") no-repeat;
  top: 25%;
  z-index: 0;
  left: 25%;
  width: 20%;
  height: 60%;
}
#reality, #burner {
  position: absolute;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#slider1{
  width: 50%;
}
#sliderContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
}
#eq01,#eq02{
  position: absolute;
  top: 65%;
  color: white;
}
#eq01{
  left:36%;
  font-size: .85rem;
  visibility: hidden;
}
#eq02{
  left: 45%;
  visibility: hidden;
}
.instruct{
  color: rgb(73, 7, 134);
  text-align: center;
  font-size: 1.3em;
}
/* navigation */
.btnNav{
  position: absolute;
  top: 90%;
  background-color: #555;
border-radius: 30%;
z-index: 20;
}
#nextBtn{
  left:95%;
  height: 50px;
  width: 50px;
}
#prevBtn{
  left:90%;
  height: 50px;
  width: 50px;
}
.btnNav:hover{
background-color: rgb(9, 194, 9);
}
.arrow {
position: absolute;
border: solid white;
border-width: 0 5px 5px 0;
display: inline-block;
padding: 10px;
right: 30%;
top: 30%;
}
.right {
transform: rotate(-45deg);
-webkit-transform: rotate(-45deg);
top: 25%;
right: 35%;
}
.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    top: 25%;
    left: 35%;
} 
