#der{
    font-size: .9rem;
    padding: 20px;
    background-color: aliceblue;
  }
#exp{
    font-size: large;
    padding: 20px;
    background-color: #e8eefa;
    visibility: hidden;
  }
  .expand{
    background-color: bisque;
  }
  .heatEq{
    font-size: large;
  }