.bigBall, .col-md-3, .bigBallText, #backGround,#zoomEffect{
  visibility: hidden;
}
#zoomEffect{
  opacity: 50%;
}
#img01 {
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 30%;
  border: 8px solid #555;
  z-index: 4;
}
#select {
  top: 160px;
  bottom: 0;
  left: 92px;
  width: 300%;
  height: 10%;
  position: absolute;
  z-index: 2;
  opacity: 25%;
}
#container {
  width: 170px;
  height: 500px;
  position: relative;
}
li{
  margin: 0 0 10px 0;
}
#leftMain{
  font-size:1.3rem;
  background-color: aliceblue;
}
#rightMain{
  text-align: center; 
}
#system{
  position: absolute;
}
#pointer{
  z-index: 0; 
  position: absolute;
  top: 88%; 
  left:-4%;
}
#myRange{
  z-index: 15; 
  width: 100%;
}
#controls{
  position: absolute;
  top: 65%;
  width: 300%;
  left:50%;
}
.instruct{
  color: rgb(73, 7, 134);
  text-align: center;
}
.instru{
  margin: 20px;
  padding-top: 20px;
}